.menu-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: none;
  width: 100%;
  /* Adjust width as needed */
}

.menu-item {
  padding: 4px 8px;
  display: flex;
  gap: 5px;
  align-items: center;
  height: 35px;
  color: var(--slider-menu-item-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
  transition: background 0.3s;
  border-radius: 8px;
}

.menu-item:hover {
  background: #f5f5f5;
}

.menu-icon {
  display: flex;
}

.sub-heading {
  color: var(--slider-subHeading-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.menu-label {
  color: var(--slider-menu-item-color);
}

.ant-input::placeholder {
  color: var(--input-placeholder-color) !important;
  opacity: 1;
}

.sub-heading-n {
  color: var(--slider-subHeading-n-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

